.order-form {
  text-align: center;
  width: 25%;
  margin-left: 40px;
  display: inline-block;
}
.table {
  background-color: #fff;
  text-align: center;
  width: 25%;
  float: right;
  margin-right: 40px;
}
body {
  background-color: #66a3ff;
}
